.header{
  padding-top: 12px;
  background: white;
}
.content{
  margin: 24px 16px;
  padding: 20px;
}

.sider {
  height: 100vh;
  position: sticky !important;
  top: 0;
  bottom: 0;
  left: 0;
}

.logo {
  color: #2D9CDB;
  margin: 20px 0;
  font-size: 45px;
  
} 

.trigger-btn{
  font-size: 20px;
  width: 60px;
  height: 60px;
  position: fixed;
  top: 20px;
  right: 20px;
  left: 10px;
}

.menu-bar{
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: 500;
}
.ant-menu-item-selected{
  background-color: #56CCF2 !important;
  color: rgb(34, 34, 34) !important;
}


/* buttons and colors */
